body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 90% 10%; /* 90% height for content, 10% for footer */
    grid-template-columns: 22.5% 77.5%; /* Sidebar and main content */
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}


.container{
    display: flex;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.footerr{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grades-container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.grades-container h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.grade-pass {
    color: green;
    font-weight: bold;
}

.grade-fail {
    color: red;
    font-weight: bold;
}

.test{
    display: flex;
    justify-content: center;
}
